PORT=8080
FRONTEND_ORIGIN=http://localhost:3000,http://127.0.0.1:3000
COGNITO_USER_POOL_ID=eu-north-1_dHRX3BGdc
COGNITO_CLIENT_ID=4d5r9b0asqd44np6tchhkhrlv3
COGNITO_CLIENT_SECRET=your-cognito-app-client-secret
COGNITO_DOMAIN=eu-north-1dhrx3bgdc.auth.eu-north-1.amazoncognito.com
PRODUCT_SERVICE_URL=http://localhost:8001
CART_SERVICE_URL=http://localhost:8002
APPROVAL_SERVICE_URL=http://localhost:8003